.button {
  width: clamp(141.7px, 310px, 18.46vw);
  height: clamp(32px, 70px, 4.17vw);  
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; 
  max-width: 310px; 
  border-radius: 70px;
  background-color: #2D3E4E;
  
  &.icon-text{
    padding:clamp(5px, 11px, 0.66vw) clamp(8.67px, 19px, 1.14vw) clamp(5px, 11px, 0.66vw)  clamp(12.36px, 27px, 1.61vw);
  }

  /* Top row button */
  &.top {
    position: initial;     
  }

  /* Bottom row button */
  &.bottom {
    position: absolute;
    top: clamp(15.97px, 35px, 2.08vw);
  }

  .icon {
    width: clamp(10px, 22px, 1.31vw);
    height: clamp(10px, 22px, 1.31vw);
    margin-right: clamp(7.3px, 16px, 0.95vw);
  }

  .label {
    font-size: clamp(8.75px, 19px, 1.14vw);
    font-weight: 600;
    text-align: start;
    line-height: clamp(10.98px, 24px, 1.43vw);
    letter-spacing: -0.5px;

    &.icon-text {
      @supports (-webkit-line-clamp: 2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &.default {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  /* Disabled state */
  &:disabled {
    background-color: #AAAAAA;
    border-color: none;
    cursor: not-allowed;
  }
}