.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    max-width: 364px;
    position: relative;
    aspect-ratio: 364 / 322;

    &:first-of-type {
        grid-row: span 2;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
    }

    &:nth-of-type(1)button {
        margin-right: clamp(1.84px, 4px, 0.24vw);
    }

    &:nth-of-type(3)button,
    &:nth-of-type(4)button,
    &:nth-of-type(6)button,
    &:nth-of-type(7)button {
        margin-right: clamp(0.92px, 2px, 0.12vw);
    }

    /* Top Row - Hover behavior */
    &.default:hover {
        background-color: #07C06A; // Change card background for top row
    }


    &.border {
        border: clamp(6.91px, 15px, 0.9vw) solid transparent;
    }

    /* Bottom Row - Hover behavior */
    &.border:hover {
        border: clamp(6.91px, 15px, 0.9vw) solid #07C06A;
    }
}