.firmFacts {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 1680px;
  min-width: 768px;
  background-color: #2D3E4E;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  padding: clamp(20px, 5vw, 85px);
  grid-template-columns: repeat(auto-fit, minmax(21.67%, 1fr));
  gap: clamp(10px, 2vw, 1.07vw);
  justify-items: stretch;
  align-content: center;
}

.close {
  grid-column: 4;
  height: clamp(10px, 44px, 2.62vw); 
  width: clamp(10px, 44px, 2.62vw); 
  justify-self: end;
  top: clamp(10px, 50px, 3.88vh);
  position: absolute;
  right: clamp(10px, 63px, 3.75vw);
}

h1 {
  color: #fff;
  font-size: clamp(24px, 5vw, 60px);
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: clamp(10px, 2vw, 22px);
  border-bottom: 1px solid #ffffff;
  margin-bottom: clamp(20px, 3vw, 51px);
  margin-top: clamp(10px, 2vw, 42px);
  grid-column: span 4;
}